<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarBookingWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">@*bootstrap icon*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script> @*bootstrap datepicker*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" /> @*datatables.net (1)*@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" /> @*toastr notification (1)*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DarkGreenStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarBookingWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (TempData["success"] != null)
        {
            <script src="/lib/jquery/dist/jquery.min.js"></script> @*toastr notification (3)*@
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> @*toastr notification (2)*@
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
            @if (TempData["error"] != null)
            {
                <script src="/lib/jquery/dist/jquery.min.js"></script> @*toastr notification (3)*@
                <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> @*toastr notification (2)*@
                <script type="text/javascript">
                    toastr.success('@TempData["error"]');
                </script>
            }
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  bg-dark border-bottom border-green box-shadow mb-3">
            <div class="container-fluid ">
                <a class="navbar-brand text-gray" asp-area="" asp-controller="Home" asp-action="Index">CarBookingWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-green" asp-area="Employee" asp-controller="Booking" asp-action="Index">การจองของฉัน</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link text-green" asp-area="Employee" asp-controller="Booking" asp-action="Search">หน้าจองรถ</a>
                            </li>
                       @if (User.IsInRole(SD.Role_Admin))
                        {
                                <li class="nav-item">
                                <a class="nav-link text-green" asp-area="Admin" asp-controller="Car" asp-action="Index">จัดการข้อมูลรถ</a>
                            </li>
                            @*[Authorize(Roles = SD.Role_Admin)] ใส่ในหน้า controller ที่ต้องการ ข้างบน class*@ 
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-green footer text-muted bg-dark">
        
        <div class="container text-green">
             2566 - CarBookingWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> @*SweetAlert2 (1) ต่อไปอยู่ product.js*@
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" asp-append-version="true"></script> @*datatables.net (2)*@
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script> @*google map*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
